header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 100%;
    z-index: 2;
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

body {
    margin: 0; /*ahora ya todo está pegado*/
    background: white;
    display: flex;
    align-items: center; /* alineación del span*/
    justify-content: center;
    flex-direction: column;
} 

.fotoinicial {
    background-color: black;
    width: 100%;
    margin-right: 0px;
    display: block;
}

.about-us {
    width: 120vh;
    margin-bottom: 50px;
    margin-top: 110px;
    margin-left: 17%;
}

.flex-container {
    background: white;
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
    margin-left: -50px;
}

.flex-container > div {
    margin: 10px;
    margin-top: 5px;
    padding: 20px;
    font-size: 18px;
    width: 27%;
    text-align: center;
}

.flex-container > div > img {
    width: 430px;
    height: 270px;
    margin-right: 10px;
    margin-left: 10px;
}

article {
    width: 1400px;
    background: white;
    color: black;
    padding: 0px 0px;
    font-size: 18px;
    max-height: 100px; /* hasta donde se muestra el texto sin abrir*/
    overflow: hidden;
    transition:  max-height 1s;
    text-align: justify;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.texto1 {
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 40px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}


.texto2 {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto3 {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 45px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

p {
    margin-bottom: 0px;
}

article.abierto {
    max-height: 360px; /*hasta donde se va a abrir*/
}

button {
    position:static;
    left: 1000px;
    text-align: center;
    background: #cd0101;
    color: white;
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.botón1 {
    background: white;
}

.botón3 {
    background: white;
}

.botón2:hover {
    cursor: pointer;
    background: gray;
}

.fotoinicial2 {
    background-color: black;
    width: 100%;
    margin-right: 0px;
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
}

.formulario {
    display: block;
    align-items: center;
    background-color: #161719;
    justify-content: center;
    width: 78em;
    height: 19em;
    margin-left: auto;
    margin-right: auto; /* para que esté en medio */
    margin-top: 40px;
}

.jobsletter {
    font-size: 55px;
    font-family: Nova;
    color: white;
    position: relative;
    text-align: center;
    top: 30px;
}

.caption {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.caption::after {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    margin: 20px auto 0;
    width: 45px;
}

.barra {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 70%;
    text-align: center;
}

#correo {
    width: 70%;
    height: 60px;
    border-radius: 99px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    font-family: sans-serif;
    margin-left: 32%;
}

input::placeholder {
    margin-left: 10px;
    top: 30px;
    position: absolute;
}

#submit {
    position: absolute;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    top: 25px;
    height: 50px;
    border-radius: 99px;
    width: 225px;
    right: 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Nova;
    transform: translate(-137%, 0%);
}


.infofinal {
    margin-top: 110px;
    margin-bottom: -50px;
    display: flex;
    background-color: #f6f6f6;
    justify-content: center;
    width: 100%;
}
/*la sección*/

.letras::after{
    background: #0e1a23;
    content: " ";
    display: block;
    height: 3px;
    margin-bottom: 20px;
    width: 45px;
}
/*la ralla*/

.location {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: left;
    color: #d11a20;
    font-family: Nova;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
}
/*el texto*/

.fotolocation {
    display: flex;
    height: 480px;
    margin-bottom: 27px;
    position: relative;
    margin-right: 30px;
}
/*la foto*/

.infolocation {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Nova;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: none;
}

.contact {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: left;
    color: #d11a20;
    font-family: Nova;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
}

.contact-info-titleM {
    color: #171717;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    margin-top: 40%; /*centrado*/
}

.contact-info-title {
    color: #171717;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
}

.contact-info-enlace {
    margin-top:-20px;
    margin-bottom: 30px; /*separación arriba y abajo*/
    margin-left: -30px;
}

.enlace {
    color: #171717;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-transform: none;
}

#submit2 {
    position: relative;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    top: 40px;
    height: 50px;
    border-radius: 99px;
    width: 225px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Nova;
    transform: translate(-445%, 0%);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 40px 0px;
    font-family: Indie, Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 50px;
}