header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 100%;
    z-index: 2;
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

body {
    margin: 0; /*ahora ya todo está pegado*/
    background: white;
    display: flex;
    align-items: center; /* alineación del span*/
    justify-content: center;
    flex-direction: column;
} 

.hero{
    background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.699) 0%, rgba(0, 0, 0, 0.692) 100%), url("../images/about\ us.jpeg");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}

.textos-hero{
    height: 740px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mad {
    font-size: 70px;
    margin-bottom: -50px;
    font-family: Nova;
    opacity: 0.3;
}

.games {
    font-size: 45px;
    font-family: Nova;
    letter-spacing: 5px;
    opacity: 0.3;
}

.textomg {
    font-size: 18px;
    text-align: center;
    opacity: 0.7;
}

.flex-container {
    background: white;
    margin-top: 50px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: -100px;
    margin-left: -50px;
}

.flex-container > div {
    margin: 10px;
    margin-top: 5px;
    padding: 20px;
    font-size: 18px;
    width: 27%;
    text-align: center;
}

.flex-container > div > img {
    width: 430px;
    height: 270px;
    margin-right: 10px;
    margin-left: 10px;
}

article {
    width: 1400px;
    background: white;
    color: black;
    padding: 0px 0px;
    font-size: 18px;
    max-height: 100px; /* hasta donde se muestra el texto sin abrir*/
    overflow: hidden;
    transition:  max-height 1s;
    text-align: justify;
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.texto1 {
    margin-top: 10px;
    margin-left: 45px;
    margin-right: 40px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}


.texto2 {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.texto3 {
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 45px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

p {
    margin-bottom: 0px;
}

article.abierto {
    max-height: 360px; /*hasta donde se va a abrir*/
}

button {
    position:static;
    left: 1000px;
    text-align: center;
    background: #cd0101;
    color: white;
    height: 40px;
    width: 50px;
    margin-top: 20px;
    margin-bottom: 100px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
}

.botón1 {
    background: white;
}

.botón3 {
    background: white;
}

.botón2:hover {
    cursor: pointer;
    background: gray;
}

.cont {
    background-color: black;
    width: 100%;
    margin-right: 0px;
    display: block;
    margin-top: 40px;
    color: white;
    text-align: center;
}

.slogan {
    width: 120vh;
    margin-bottom: 100px;
    margin-top: 100px;
    margin-left: 260px;
    font-family: Nova;
    font-size: 40px;
}

.galeria{
    background: #f2f2f2;
    align-items: center;
}

.contenedor{
    padding: 80px 0;
}

.titulo{
    font-weight: 300;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
    color: black;
    font-family: Nova;
}

.titulo::after{
    background: red;
    content: "  ";
    display: block;
    height: 3px;
    margin-bottom: 20px;
    width: 45px;
    margin-left: 48.5%;
    margin-top: 8px;
}

.galeria-cont{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    margin-left: 15%;
}

.galeria-cont >img{
    width: 30%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.formulario {
    display: block;
    align-items: center;
    background-color: #161719;
    justify-content: center;
    width: 78em;
    height: 19em;
    margin-left: auto;
    margin-right: auto; /* para que esté en medio */
    margin-top: 40px;
}

.jobsletter {
    font-size: 55px;
    font-family: Nova;
    color: white;
    position: relative;
    text-align: center;
    top: 30px;
}

.caption {
    color: gray;
    text-align: center;
    margin-top: 30px;
}

.caption::after {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    margin: 20px auto 0;
    width: 45px;
}

.barra {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 70%;
    text-align: center;
}

#correo {
    width: 70%;
    height: 60px;
    border-radius: 99px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    font-family: sans-serif;
    margin-left: 32%;
}

input::placeholder {
    margin-left: 10px;
    top: 30px;
    position: absolute;
}

#submit {
    position: absolute;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    top: 25px;
    height: 50px;
    border-radius: 99px;
    width: 225px;
    right: 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Nova;
    transform: translate(-137%, 0%);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    width: 100%;
    padding: 40px 0px;
    font-family: Indie, Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: 50px;
}