header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 100%;
    z-index: 2;
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

body {margin: 0;} /*ahora ya todo está pegado*/



section {
    width: 100%;
    margin-bottom: 25px;
}

#banner {
    margin-top:50px;
}

#banner img {
    width: 100%;
}

#banner .contenedor {
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%) translate(-50%);
    color: white;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid white;
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}

#bienvenidos {
    text-align: center;
}

#blog h3, h4 {
    text-align: center;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}