header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 100%;
    z-index: 2;
    margin: -8px; /* por default html tiene margen de 8px */
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

div#slider {background-image: url('../images/imagen1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 10px);

    animation: changegojira 10s infinite;
    animation-delay: 0.10s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* cambiar imagenes y el changegohira */

@keyframes changegojira {
    0% {background-image: url('../images/imagen1.png');}
    25% {background-image: url('../images/imagen2.jpg');}
    50% {background-image: url('../images/imagen3.png');}
    75% {background-image: url('../images/imagen4.png');}
    100% {background-image: url('../images/imagen5.png');}
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Nova;
    font-size: 39px;
    letter-spacing: 7px;
    color: white;
}

.fotos {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.foto1 {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.foto2 {
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Nova;
    font-size: 39px;
    text-align:center;
    color: black;
    line-height: 70%;
    letter-spacing: 4px;
    text-shadow: -2px -2px 0px #fff, 2px -2px 0px #fff, -2px 2px 0px #fff, 2px 2px 0px #fff;
}

.info {
    display: flex;
    background-color: white;
    align-items: left;
    justify-content: left;
}

.info1 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: left;
    font-size: 24px;
    line-height: 24px;
    font-family: Nova;
}

.info2 {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: left;
}

.formulario {
    display: block;
    align-items: center;
    background-color: black;
    justify-content: center;
    width: 78em;
    margin-left: auto;
    margin-right: auto; /* para que esté en medio */
}

.jobsletter {
    font-size: 55px;
    font-family: Nova;
    color: white;
    position: relative;
    text-align: center;
}

.caption {
    color: gray;
    text-align: center;
}