header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    z-index: 2;
    margin: -8px; /* por default html tiene margen de 8px */
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 30px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

