header {
    display: flex;
    position: fixed;
    top: 0px; /* Indica que está pegado a la parte de arriba*/
    font-family: Nova, Arial, Helvetica, sans-serif;
    font-size: 21px;
    width: 100%;
    z-index: 2;
}

nav { 
    text-align: center;
    width: 100%;
    position: absolute;
    top: 25px; /* posición del menú */
    right: 30px; /* para compensar los 30px del a */
}

ul {
    display: inline-flex; /* orden horizontal de la lista*/
    list-style: none; /* para quitar el punto de los li*/
}

a { 
    color: white;
    text-decoration: none; /* para quitar las líneas de hipervínculos */
    margin-left: 30px; /* agregamos un margen a la izquierda entre cada uno */
}

@font-face {
    font-family: Nova;
    src: url('../fonts/Nova/Nova.otf')
}

@font-face {
    font-family: Nova-regular;
    src: url('../fonts/Nova/Nova-regular.otf')
}

@font-face {
    font-family: Nova-bold;
    src: url('../fonts/Nova/Nova-bold.otf')
}

body {margin: 0;} /*ahora ya todo está pegado*/

div#slider {background-image: linear-gradient(120deg, rgba(0, 0, 0, 0.699) 0%, rgba(0, 0, 0, 0.692) 100%), url('../images/mapa1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(105vh);

    animation: changegojira 10s infinite;
    animation-delay: 0.10s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

/* cambiar imagenes y el changegohira */

@keyframes changegojira {
    0% {background-image: url('../images/mapa1.png');}
    33% {background-image: url('../images/mapa4.png');}
    66% {background-image: url('../images/mapa2.png');}
    100% {background-image: url('../images/mapa3.png');}
}

.logo {
    position: absolute;
    height: 80px;
    margin-left: -30%;
    margin-top: -10px;
}

.logo2 {
    position: absolute;
    height: 170px;
    transform: translate(450%);
    margin-top: -170px;
}

.centrado{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Nova;
    font-size: 39px;
    letter-spacing: 7px;
    color: black;
}

.fotos {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.foto1 {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.foto2 {
    margin-top: 80px;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.centrado2 {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Nova;
    font-size: 39px;
    text-align:center;
    color: white;
    opacity: 0.7;
    line-height: 70%;
    letter-spacing: 4px;
}

.info {
    display: flex;
    background-color: white;
    align-items: left;
    justify-content: left;
}

.info1 {
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: justify;
    font-size: 24px;
    line-height: 24px;
    font-family: Nova;
}

.info1 .rojo {
    color: red;
}

.info2 {
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: justify;
    font-family: Nova-regular;
}

.formulario {
    display: block;
    align-items: center;
    background-color: #161719;
    justify-content: center;
    width: 78em;
    height: 19em;
    margin-left: auto;
    margin-right: auto; /* para que esté en medio */
}

.jobsletter {
    font-size: 55px;
    font-family: Nova;
    color: white;
    position: relative;
    text-align: center;
    top: 30px;
}

.caption {
    color: gray;
    text-align: center;
    margin-top: 30px;
    font-family: Nova-regular;
}

.caption::after {
    background: #fff;
    content: "";
    display: block;
    height: 3px;
    margin: 15px auto 0;
    width: 45px;
}

.barra {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 30px;
    position: relative;
    width: 70%;
    text-align: center;
}

#correo {
    width: 70%;
    height: 60px;
    border-radius: 99px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    font-family: sans-serif;
    margin-left: 32%;
}

input::placeholder {
    margin-left: 10px;
    top: 30px;
    position: absolute;
}

#submit {
    position: absolute;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    top: 45px;
    height: 50px;
    border-radius: 99px;
    width: 225px;
    right: 20px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Nova;
}

.infofinal {
    margin-top: 110px;
    padding-bottom: 20px;
    display: flex;
    background-color: #f6f6f6;
    align-items: left;
    justify-content: center;
}
/*la sección*/

.letras::after{
    background: red;
    content: " ";
    display: block;
    height: 3px;
    margin-bottom: 20px;
    width: 45px;
}
/*la ralla*/

.location {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: block;
    text-align: left;
    color: black;
    font-family: Nova;
    font-size: 45px;
    font-weight: 800;
    text-transform: uppercase;
}
/*el texto*/

.fotolocation {
    margin-bottom: 27px;
    position: relative;
    margin-right: 10px;
}
/*la foto*/

.fotolocation2 {
    margin-bottom: 0px;
    position: relative;
    margin-right: 30px;
}

.hola {
    margin-top: 147px;
}

.infolocation {
    color: white;
    text-align: center;
    font-size: 25px;
    font-family: Nova;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: none;
}

.contact {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
    text-align: left;
    color: black;
    font-family: Nova;
    font-size: 45px;
    font-weight: 800;
}

.contact-info-titleM {
    color: #171717;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    margin-top: 39%; /*centrado*/
    font-family: Nova-regular;
}

.contact-info-title {
    color: #171717;
    font-size: 14px;
    font-weight: 600;
    line-height: 11px;
    font-family: Nova-regular;
}

.contact-info-enlace {
    margin-top:-20px;
    margin-bottom: 30px; /*separación arriba y abajo*/
    margin-left: -30px;
}

.enlace {
    color: #171717;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    letter-spacing: -1px;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
}


footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 40px 20px;
    font-family: Indie, Arial, Helvetica, sans-serif;
    position: relative;
}

#submit2 {
    position: relative;
    background-color: red;
    color: white;
    border: 2px solid transparent;
    top: 10px;
    height: 50px;
    border-radius: 99px;
    width: 200px;
    font-size: 17px;
    text-transform: uppercase;
    font-family: Nova;
}